.link{
    text-decoration:none;
}



.HomeMinContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.websiteLogo {
  justify-content: flex-start;
  align-self: flex-start;
  padding: 1%;
}

.HomeContentMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  height: 80vh;
  width: 95vw;
}

.HomeContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.HomeRegisterButton {
  border: none;
  background-color: #2292e2;
  padding: 10px;
  border-radius: 5px;
  color: white;
}
